.totalContainer{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px));
  gap: 10px;
}
.todo-item {
  margin: 20px ;
  background-color: #c2f3f3;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  gap: 10px;
  position: relative;
  transition: box-shadow 0.3s ease-in-out;
}

.todo-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.todo-item.completed {
  background-color: #f0d9d9;
}

.todo-item-content {
  font-size: 40px;
  text-align: center;
}

.todo-item-buttons {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.dateTime{
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 16px;
  color: #000000;
}

.editBtn,
.deleteBtn,
.completeBtn {
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px 17px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.editBtn{
  background-color: #d8c412;
  color: #000000;
}

.deleteBtn{
  background-color: #c7652d;
}

.editBtn:hover{
  background-color: #00994d;
}

.deleteBtn:hover{
  background-color: #c53b23;
}

.saveBtn,
.cancelBtn {
  background-color: #0077b3;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cancelBtn{
  background-color: #c7652d;
}

.saveBtn:hover {
  background-color: #005a8c;
}

.cancelBtn:hover{
  background-color: rgb(160, 53, 35);
}

.editSection{
  display: flex;
  gap: 10px;
}



.mark-button {
  align-items: center;
  width: 100%;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 30px 40px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  align-self: flex-end;
}

.mark-button:hover{
  background-color: green;
}