@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mooli', sans-serif;
}

.todo-app{
  margin: 1.2rem;
  height: 80vh;
}